gunicorn
Flask==2.2.5
gunicorn==21.2.0
tensorflow==2.13.0
keras==3.8.0
numpy==2.0.2
pandas==2.2.2
pillow==11.2.1
matplotlib==3.10.0
scikit-learn==1.6.1
scikit-image==0.25.2
scipy==1.15.3
joblib==1.5.1
